# Python Basics Recap

## 1. Lists

In [1]:
# store and print variables
first_name = "Mik"
last_name = "F"

print(first_name, last_name, "is learning.")

Mik F is learning.

In [2]:
# store values in a list and print
myself = ['Mik', 'F', 78]

print('My name is', myself[0], myself[1], 'and I am not', myself[-1], 'years old.')

My name is Mik F and I am not 78 years old.

In [17]:
# create a list of jobs
jobs = ['data scientist', 'engineer', 'ux/ui designer', 'developer']

# index of specific job
print(jobs.index('developer'))

# append a job and insert another job at the beginning
jobs.append('BI specialist')
jobs.insert(0, 'data analyst')
print(jobs)

# print list in sorted reversed alphabetical order
for job in sorted(jobs, reverse=True):
    print(job)

3
['data analyst', 'data scientist', 'engineer', 'ux/ui designer', 'developer', 'BI specialist']
ux/ui designer
engineer
developer
data scientist
data analyst
BI specialist

## 2. Slicing

In [20]:
# create a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# print third and forth number
print(numbers[2:4])

# print last three numbers
print(numbers[-3:])

[3, 4]
[8, 9, 10]

## 3. Multiples

In [28]:
# list of multiples of tens
list_of_multiples = [x * 10 for x in range(1, 11)]

print(list_of_multiples)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## 4. Tuples

In [29]:
# possible scores for diving contest
scores = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# print lowest and highest possible score
print('Lowest score possible:', scores[0])
print('Highest score possible:', scores[-1])

Lowest score possible: 1
Highest score possible: 10

In [31]:
# print a list of all potential scores that the judge can assign to a dive
for score in scores:
    if score == 1:
        print('%s %d %s' % ('The judge can assign to the dive a score of', score, 'point'))
    else:
        print('%s %d %s' % ('The judge can assign to the dive a score of', score, 'points'))

The judge can assign to the dive a score of 1 point
The judge can assign to the dive a score of 2 points
The judge can assign to the dive a score of 3 points
The judge can assign to the dive a score of 4 points
The judge can assign to the dive a score of 5 points
The judge can assign to the dive a score of 6 points
The judge can assign to the dive a score of 7 points
The judge can assign to the dive a score of 8 points
The judge can assign to the dive a score of 9 points
The judge can assign to the dive a score of 10 points

## 5. Unix timestamps conversion

In [34]:
# import time package
import time

# UNIX timestamps
time1 = 1493565419
time2 = 1493562132

duration = time1 - time2

# time.strftime -> converts a tuple or struct_time representing a time to a string as specified by the format argument)
# time.gmtime -> converts time expressed in seconds since the epoch to a struct_time in UTC
print(time.strftime('%H hour(s) %M minute(s) %S second(s)', time.gmtime(duration)))

00 hour(s) 54 minute(s) 47 second(s)

## 6. Words and anagrams

In [38]:
# print which words appear within which other words for any string
string = "This is the best tennis racquet and it's his"

# lower case and split each word in the string
words = string.lower().split()

# checking for subwords for each word in the string (double loop)
for word in words:
    for sub_word in words:
        if sub_word in word and sub_word != word:
            print(str(sub_word) + ' is in ' + str(word))

is is in this
his is in this
is is in tennis
is is in his

In [42]:
# print words that are an anagram of another word
string = 'How can you listen if you are not silent?'

# remove ? and lower case split
words = string.replace('?','').lower().split()

for word in words:
    for sub_word in words:
        # sorted() to break word into individual letteres in alphabetical order
        if sorted(sub_word) == sorted(word) and word != sub_word:
            # prints the original sub_word and word not sorted() from the list
            print(str(sub_word) + ' is an anagram of ' + str(word))

silent is an anagram of listen
listen is an anagram of silent

In [50]:
# all anagrams of a single word (iterations)
import itertools

word = 'ayo'

def all_anagrams(word):
    tup_list = list(itertools.permutations(word))
    str_list = [''.join((tup)) for tup in tup_list]
    return str_list

print(all_anagrams(word))

['ayo', 'aoy', 'yao', 'yoa', 'oay', 'oya']